/*
Arber Xhindoli
github: @arberx
*/

* {
    margin: 0;
	padding: 0;
    box-sizing: inherit;
}

html {
    width: 100%;
    height: 100%;
    display: table;
}

body {
    width: 100%;
    display: table-cell;
    overflow: hidden;
}

ul {
	list-style-type: none;
}

#particles-js {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.center-div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.list-content {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.two-column {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 10px;
}

.name {
	font-size: 36px;
    font-family: "Monoton";
}

.wrap {
	font-size: 18px;
	font-family: "Montserrat Subrayada", sans-serif;
}

.btn-white {
    background-color: white;
    border-radius: 6px;
    border-color: black;
    border: 1px solid;
    font-weight: 400;
    color: black;
    text-align: center;
    width: 50%;
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    font-weight: 400;
    display: inline-block;
    border: 1px solid;
    border-radius: 6px;
    transition: all .2s;
    position: relative;
    border-color: black;
    color: black;
    font-weight: 700;
    text-align: center;
    width: 50%;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn--white::after {
    background-color: white;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn--animated {
    animation: moveInTop 1s ease-out .5s;
    animation-fill-mode: backwards;
}

@font-face{
    font-family: "Monoton";
    src: url('../css-fonts/Monoton-Regular.ttf');
}

@font-face{
    font-family: "Montserrat Subrayada";
    src: url('../css-fonts/MontserratSubrayada-Regular 400.ttf');
}

