<!--Arber Xhindoli github:@arberx-->
<!—- arberweb/index.html -—>

{% extends "layout.html" %}
{% block head %}
  {{ super() }}
  <title>Arber X // Software Engineer </title>
  <link rel="smily icon" href="{{url_for('.static', filename='smily.png')}}"/>
{% endblock %}

{% block body %}
  {{ super() }}
  <div id="particles-js"></div>
  <div class="center-div">
    <h1 class="name">Arber</h1>
    <h1 class="name">Xhindoli</h1>
    <div class="list-content">
        <ul>
          <div class="two-column">
              <li>
                <a href="https://github.com/arberx" class="btn btn--white btn--animated" target="_blank">
                  <span class="wrap">Github</span>
                </a>
              </li>
              <li>
                <a href="{{url_for('.static', filename='Arber-Xhindoli-Resume.pdf')}}" class="btn btn--white btn--animated" target="_blank">
                  <span class="wrap">Resume</span>
                </a>
              </li>
          </div>
          <div class="two-column">
              <li>
                <a href="https://www.linkedin.com/in/arberx" class="btn btn--white btn--animated" target="_blank">
                  <span class="wrap">LinkedIn</span>
                </a>
              </li>
              <li>
                <a href="https://gitlab.com/arberx" class="btn btn--white btn--animated" target="_blank">
                  <span class="wrap">GitLab</span>
                </a>
              </li>
          </div>
        </ul>
    </div>
  </div>
  <script language="javascript" type="text/javascript" src="https://pagecdn.io/lib/particles/2.0.0/particles.min.js"></script>
  <script language="javascript" type="text/javascript">
  particlesJS("particles-js",{particles:{number:{value:90,density:{enable:!0,value_area:800}},color:{value:"#000000"},shape:{type:"cirlce",stroke:{width:0,color:"#000000"},polygon:{nb_sides:5},image:{src:"img/github.svg",width:100,height:100}},opacity:{value:.5,random:!1,anim:{enable:!1,speed:1,opacity_min:.1,sync:!1}},size:{value:3,random:!0,anim:{enable:!1,speed:30,size_min:.1,sync:!1}},line_linked:{enable:!0,distance:100,color:"#000000",opacity:.4,width:1},move:{enable:!0,speed:2,direction:"none",random:!0,straight:!1,out_mode:"out",bounce:!0,attract:{enable:!1,rotateX:600,rotateY:1200}}},interactivity:{detect_on:"canvas",events:{onhover:{enable:!0,mode:"repulse"},onclick:{enable:!0,mode:"push"},resize:!0},modes:{grab:{distance:140,line_linked:{opacity:1}},bubble:{distance:400,size:40,duration:2,opacity:8,speed:3},repulse:{distance:100,duration:.4},push:{particles_nb:4},remove:{particles_nb:2}}},retina_detect:!0});
  </script>
{% endblock %}
