<!--Arber Xhindoli github:@arberx-->
<!—- arberweb/index.html -—>

{% extends "layout.html" %} {% block head %} {{ super() }}
<title>Arber X // Software Engineer</title>
<link rel="smily icon" href="{{url_for('.static', filename='smily.png')}}" />
{% endblock %} {% block body %} {{ super() }}
<div class="center-div">
  <h1 class="name">Arber</h1>
  <h1 class="name">X</h1>
  <div class="list-content">
    <ul>
      <div class="two-column">
        <li>
          <a
            href="https://github.com/arberx"
            class="btn btn--white btn--animated"
            target="_blank"
          >
            <span class="wrap">Github</span>
          </a>
        </li>
        <li>
          <a
            href="{{url_for('.static', filename='Arber-X-Resume.pdf')}}"
            class="btn btn--white btn--animated"
            target="_blank"
          >
            <span class="wrap">Resume</span>
          </a>
        </li>
      </div>
      <div class="two-column">
        <li>
          <a
            href="https://www.linkedin.com/in/arberx"
            class="btn btn--white btn--animated"
            target="_blank"
          >
            <span class="wrap">LinkedIn</span>
          </a>
        </li>
        <li>
          <a
            href="https://gitlab.com/arberx"
            class="btn btn--white btn--animated"
            target="_blank"
          >
            <span class="wrap">GitLab</span>
          </a>
        </li>
      </div>
    </ul>
  </div>
</div>
{% endblock %}
