{% extends "bootstrap/base.html" %}
{% block html_attribs %} lang="en"{% endblock %}
<!--AUTHORED BY ARBER XHINDOLI-->
<!--SITE TAKES ADVANTAGE OF FLASK-BOOTSTRAP, RUNNING ON NGINX SERVER-->
<!--CODE IS FREE FOR ANYONE TO USE-->
{% block title %}
    arberx
{% endblock %}

<!-- CSS/Fonts -->
{% block styles %} {{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='css/style.css')}}"> 
<link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
<link rel="icon" href="{{url_for('.static', filename='code.png')}}">
{% endblock %}

{% block content %}

    <!--particles-->
    <div id="particles-js">
    </div>

    <div id=container1>
    <div class="intro-message">
        <center>
        <h1 class="name">Arber Xhindoli</h1>
        <ul class="list-inline intro-social-buttons">
            <li>
                <a href="https://github.com/arberx" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
            </li>
            <li>
                <a href="{{url_for('.static', filename='Arber_Xhindoli_Resume.pdf')}}" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Resume</span></a>
            </li>
            <li>
                <a href="mailto:axhindol@umich.edu" class="btn btn-default btn-lg"><i class="fa fa-email fa-fw"></i> <span class="network-name">Email</span></a>
            </li>
        </ul>
        </center>
    </div>
    </div>

{% endblock%}

{% block scripts %}
<!--  Scripts-->
<script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="static/js/particle.js"></script>
{{super()}}
{% endblock %}
