{% extends "bootstrap/base.html" %}
{% block html_attribs %} lang="en"{% endblock %}

{% block title %}
    arbWeb
{% endblock %}

<!-- CSS  -->
{% block styles %} {{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='css/style.css')}}"> {% endblock %}

{% block content %}

    <!--particles-->
    <div id="particles-js">
    </div>

    <!--main container-->
    <div id="container1">
        <p><center>Arber Xhindoli</center></p>
        <ul>
        </ul>
             <div id="test4"></div>
             </div>
    </div>

{% endblock%}

{% block scripts %}
<!--  Scripts-->
<script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="static/js/particle.js"></script>
{{super()}}
{% endblock %}